.card-container {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  height: 440px;
  width: 440px;
  margin-top: 200px;
  margin-left: 200px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  padding: 4px;

}
.card-title {
  display: flex;
  gap: 32px;
  font-size: 14px;
}